.ncert {
  background: linear-gradient(
      346deg,
      rgba(55, 55, 55, 0.04) 0%,
      rgba(55, 55, 55, 0.04) 22%,
      rgba(140, 140, 140, 0.04) 22%,
      rgba(140, 140, 140, 0.04) 69%,
      rgba(225, 225, 225, 0.04) 69%,
      rgba(225, 225, 225, 0.04) 100%
    ),
    linear-gradient(
      31deg,
      rgba(55, 55, 55, 0.04) 0%,
      rgba(55, 55, 55, 0.04) 42%,
      rgba(140, 140, 140, 0.04) 42%,
      rgba(140, 140, 140, 0.04) 85%,
      rgba(225, 225, 225, 0.04) 85%,
      rgba(225, 225, 225, 0.04) 100%
    ),
    linear-gradient(
      55deg,
      rgba(55, 55, 55, 0.04) 0%,
      rgba(55, 55, 55, 0.04) 13%,
      rgba(140, 140, 140, 0.04) 13%,
      rgba(140, 140, 140, 0.04) 72%,
      rgba(225, 225, 225, 0.04) 72%,
      rgba(225, 225, 225, 0.04) 100%
    ),
    linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
  width: 100vw;
  min-height: 100vh;

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
  }

  .ncertContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      color: #fff;
      margin: 2rem 0;
      width: 80%;
    }
  }

  .ncertChapters {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    width: 80%;
  }

  .chapter {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
}
